{% extends 'base.html.twig' %}

{% block section %}

		
		
        <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12">
		<section class="container-fluid" >
		<div class="row justifiy-content-center">
			<div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
            {% for article in tableauObjetArticle %}
            <aside class="container-fluid" id="article1">
				<div class="row" id="paragrapheDescription1">
					{% if article.imgArticle %}
					<div class="col-12 ">
					{% else %}
					<div class="col-12 text-left ">
					{% endif %}
						<h1 class="mt-2 mb-3">{{ article.titre }}</h1>
						{% if article.sousTitre %}
							<h2 class="mt-4 mb-3">{% include template_from_string(article.sousTitre) %}</h2>
						    {% endif %}
					    {% if article.imgArticle %}
					    <div class="row">
						<div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12 text-left">
					    {% endif %}
                            
							<p class="mb-0">{% include template_from_string(article.description) %}</p>
					    {% if article.imgArticle %}
						</div>
						<div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12">
							<!-- <a href="http://www.angletaccueille.com/">--><img class="img-fluid rounded border border-light" src="{{ absolute_url(asset('img/article/' ~ article.imgArticle))}}" alt="{{ article.titre }}"/><!-- </a>-->
						</div>
						</div>
					    {% endif %}
					</div>
				</div>
			</aside>
                   
            
            {% endfor %}
			</div>
			<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
			</div>
		</div>
		</section>
		</div>
		
{% endblock %}




