{% extends 'base.html.twig' %}

{% block section %}

		<div class="col-xl-10 col-lg-10 col-md-9 col-sm-12 ">
		
		<section class="container-fluid " >
		
        <div class="row justifiy-content-center ">
			<div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 ">
			<h1 class="text-center">Nos Formules et Informations diverses</h1>
			<aside class="container-fluid">
				<div class="row">
				<div class="col-12" id="paragrapheDescriptionTarif">
					
					<h2 class="mt-2 mb-3">Nos tarifs:</h2>
					
						<p class="mb-0">- Notre cotisation annuelle s'&eacute;l&egrave;ve &agrave; <strong>{{ info.tarif }}&euro;</strong> pour l'acc&egrave;s &agrave; tous nos locaux.</p>
						<p class="mb-0">- Toute personne d&eacute;sireuse de tester nos activit&eacute;s disposera de <strong>{{ info.seanceEssai }} s&eacute;ances d'essais</strong>.</p>
					
					</div>
				</div>
				<div class="row">
				<div class="col-12" id="paragrapheDescriptionTarif">
					<h2 class="mt-4 mb-3">Les pr&eacute;-requis pour s'inscrire:</h2>
						<p class="mb-0">- Toute personne souhaitant s'inscrire dans notre association, devra au minimum avoir 15 ans r&eacute;volus.</p>
				</div>
				</div>
				<div class="row">
				<div class="col-12" id="paragrapheDescriptionTarif">
					<h2 class="mt-4 mb-3">Nos documents utiles:</h2>
						<div class="col table-responsive">
						<table class="table table-secondary table-striped table-bordered table-hover table-sm">
							<thead>
								<tr>
									<th>Fichiers a t&eacute;l&eacute;charger</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
							
							{% for fichier in objetFichier %}
								
								
								<tr>
									<td>{{fichier.nomAffichage }}</td>	
									<td><a href="{{absolute_url(asset('doc/' ~ fichier.nomFichier))}}">T&eacute;l&eacute;charger</a></td>															
								</tr>
							{% endfor %}
								
							</tbody>
						</table>
					</div>
				</div>
				</div>
				</div>
			</aside>
			</div>
			<div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 ">
			</div>
		</div>
		</section>
		</div>
		
{% endblock %}




