@CHARSET "ISO-8859-1";

@media screen and (max-width:2560px){ 
	
	#paragrapheDescriptionTarif h1{
		/*border: 1px dashed white;*/
		font-size:38px;
		font-weight:bold;
		font-style:italic;
		text-decoration:underline;
	}
	#paragrapheDescriptionTarif h2{
		/*border: 1px dashed white;*/
		font-size:31px;
		font-style:italic;
		text-decoration:underline;
	}
	#paragrapheDescriptionTarif p{
		/*border: 1px dashed yellow;*/
		text-indent:5%;
		font-size:26px;
	}
	#paragrapheDescriptionTarif strong{
		/*border: 1px dashed white;*/
		
		text-decoration:underline;
		font-style:italic;
	}
	#paragrapheDescriptionTarif a{
		/*border: 1px dashed green;*/
		color:black;
		font-weight:bold;
		font-style:italic;
	}		
}
@media screen and (max-width:1440px){ 
	#paragrapheDescriptionTarif h1{
		font-size:36px;
	}
	#paragrapheDescriptionTarif h2{
		font-size:29px;
	}
	#paragrapheDescriptionTarif p{
		font-size:24px;
	}
}
@media screen and (max-width:1199px){ 
	#paragrapheDescriptionTarif h1{
		font-size:36px;
	}
	#paragrapheDescriptionTarif h2{
		font-size:29px;
	}
	#paragrapheDescriptionTarif p{
		font-size:24px;
	}
	
}
@media screen and (max-width:1024px){ 
	
	#paragrapheDescriptionTarif h1{
		font-size:32px;
	}
	#paragrapheDescriptionTarif p{
		font-size:22px;
	}
	#paragrapheDescriptionTarif strong{
		font-size:26px;
	}
	
}
@media screen and (max-width:768px){ 
	
	#paragrapheDescriptionTarif h1{
		font-size:30px;
	}
#paragrapheDescriptionTarif strong{
		font-size:24px;
	}
	
}
@media screen and (max-width:425px){ 
	
	
	#paragrapheDescriptionTarif h1{
		font-size:28px;
	}
	#paragrapheDescriptionTarif p{
		
		font-size:20px;
	}
	#paragrapheDescriptionTarif strong{
		font-size:22px;
	}
	#
}
@media screen and (max-width:375px){ 
	#paragrapheDescriptionTarif h1{
		font-size:26px;
	}
	#paragrapheDescriptionTarif p{
		font-size:18px;
	}
	#paragrapheDescriptionTarif strong{
		font-size:20px;
	}
	
}
@media screen and (max-width:320px){ 
	
	#paragrapheDescriptionTarif h1{
		font-size:24px;
	}
	#paragrapheDescriptionTarif p{
		font-size:16px;
	}
	#paragrapheDescriptionTarif strong{
		font-size:18px;
	}
	
}
