@CHARSET "ISO-8859-1";


@media screen and (max-width:2560px){ 
	
	#asideJdr h1{
		font-size:36px;
		font-weight:bold;
		font-style:italic;
		text-decoration:underline;
	}
	
	
	#paragrapheDescription h2{
		/*border: 1px dashed white;*/
		
		font-weight:bold;
		text-decoration:underline;
		font-style:italic;
		font-size:24px;
	}
	#paragrapheDescription p{
		/*border: 1px dashed yellow;*/	
		font-size:20px;
	}
	
	#asideEvenement h1{
		font-size:36px;
		font-weight:bold;
		font-style:italic;
		text-decoration:underline;
	}
	#boutonDeroulantCarte{
	background-color:#a63b51;
	opacity:1;
	}
	#boutonDeroulantCarte button{
		color:black;
		font-size:14pt;
		font-weight:bold;
		font-style:italic;
	}
	
		
}
@media screen and (max-width:1440px){ 
	
	#asideJdr h1{
		font-size:34px;
	}
	
	
	#asideEvenement h1{
		font-size:34px;
	}
	
}
@media screen and (max-width:1199px){ 
	#asideJdr h1{
		font-size:32px;
	}
	
	#paragrapheDescription h2{
		font-size:26px;
	}
	#paragrapheDescription p{
		font-size:22px;
	}
	#asideEvenement h1{
		font-size:32px;
	}
	
}
@media screen and (max-width:1024px){ 
	#asideJdr h1{
		font-size:30px;
	}
	
	#paragrapheDescription h2{
		font-size:24px;
	}
	#paragrapheDescription p{
		font-size:20px;
	}
	#asideEvenement h1{
		font-size:30px;
	}
	
}
@media screen and (max-width:768px){ 
	
	#asideJdr h1{
		font-size:28px;
	}
	
	#paragrapheDescription h2{
		font-size:22px;
	}
	#paragrapheDescription p{
		font-size:18px;
	}
	#asideEvenement h1{
		font-size:28px;
	}
	
}
@media screen and (max-width:425px){ 
	
	#asideJdr h1{
		font-size:26px;
	}
	
	
	#paragrapheDescription h2{
		font-size:20px;
	}
	#paragrapheDescription p{
		font-size:16px;
	}
	
	#asideEvenement h1{
		font-size:26px;
	}
	
}
@media screen and (max-width:375px){ 
	
	#paragrapheDescription h2{
		font-size:19px;
	}
	#paragrapheDescription p{
		font-size:15px;
	}
}
@media screen and (max-width:320px){ 
	
	#asideJdr h1{
		font-size:24px;
	}	
	
	#paragrapheDescription h2{
		font-size:18px;
	}
	#paragrapheDescription p{
		font-size:14px;
	}
	
	#asideEvenement h1{
		font-size:24px;
	}
	
}
