<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="description" content="association de jeux de rôles, basée a ANGLET, à la maison pour tous... ">
    	<meta name="author" content="Developpement Web Entreprise 64">
    	<meta name="keywords" content="association, phénix, pheonix, légion, légion du phénix jeux de rôle, roliste, convention, jeux, anglet, pays, basque, 64">
        <title>{% block title %}La l&eacute;gion du ph&eacute;nix{% endblock %}</title>
        <link rel='icon' href='{{ absolute_url(asset("/img/faviconLdp.png")) }}'/>
        {% block stylesheets %}
        	{% include ('css.html.twig') %}
        {% endblock %}
        
    </head>
    <body id="body">
     
     {% block body %}
     	{% block header %}
     		{% include('header.html.twig') %}
     	{% endblock %}
     	<div class="container-fluid my-auto">
     	<div class="row justify-content-center">
     	{% block menu %}
     		{% include('nav.html.twig') %}
     	{% endblock %}
     	
     	{% block section %}
     	{% endblock %}
     	</div>
     	</div>
     	{% block footer %}
     		{% include('footer.html.twig') %}
     	{% endblock %}
     
        {% block javascripts %}
       		 {% include ('js.html.twig') %}
        {% endblock %}
        {% endblock %}
    </body>
</html>
