{% block header %}
        <header class="container-fluid mb-auto" id="header">
        	<div class="row justify-content-center ">
        		<div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 text-center align-self-center">
        			<a href="index.php"><img class="img-fluid" src="{{ absolute_url(asset("/img/logo.png")) }}" id="logoLdp"/></a>
        		</div>
        		<div class="col-xl-10 col-lg-10 col-md-9 col-sm-12 text-center align-self-center">
        		<a href="index.php"><img class="img-fluid" src="{{ absolute_url(asset("/img/titre.png")) }}" id="titre"/></a>
        		</div>
        	</div>
			
		</header>
{% endblock %}